/* Navigation */
.navbar a {
  font-size: 2em;
}
.active, .navbar-brand a, .navbar-brand a:hover, .navbar-nav a:hover {
  color: rgb(232, 230, 227) !important;
  text-decoration: none;
}
.navbar-nav {
  margin-left: auto !important;
}
.navbar-nav a {
  color: rgba(232, 230, 227, 0.75);
  margin: 0 50px 0 50px;
}