/* Override Bootstrap Nav */
.nav-link, .navbar-brand {
  cursor: pointer;
  font-size: 1.5em !important;
  margin: 0 15px 0 15px;
}
.fadeIn {
  opacity: 1;
  transition: opacity 1s;
}
@keyframes fadein {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}
.money {
  color: rgb(177, 39, 4);
}

/* card with image placeholder */
.box img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0.1; /* toast modal is z-index: 1 so this must be below that */
}
.box .shine {
  width: 100%;
}
.shine {
  background: white;
  background-image: linear-gradient(to right, white 0%, rgb(240, 236, 236) 20%, white 40%, white 100%);
  background-size: 800px 800px; 
  animation: linear shine 1s infinite;
}
@keyframes shine {
  0% { background-position: -800px 0; }
  100% { background-position: 800px 0; }
}

@media (max-width: 576px) { /* Small devices (landscape phones, 576px and DOWN) */ 
  .box .shine, .box img {
    height: 232px;
    width: 232px;
  }
}
@media (min-width: 576px) { /* Small devices (landscape phones, 576px and UP) */ 
  .box .shine, .box img {
    height: 412px;
  }
}
@media (min-width: 768px) { /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  .box .shine, .box img {
    height: 232px;
  }
}
@media (min-width: 992px) { /* Large devices (desktops, 992px and up) */
  .box .shine, .box img {
    height: 352px;
  }
}
@media (min-width: 1200px) { /* Extra large devices (large desktops, 1200px and up) */
  .box .shine, .box img {
    height: 443px;
  }
}